body{
    margin:0;
    font-family: 'EB Garamond', serif;
}

/*  Menu  */
nav{
    
    margin:0 auto;
    background-color: #f8f1e8;
    color:white;
    height:120px;

}
nav ul{
    display: flex;
    justify-content: space-between;
    margin-right:20px;
}

nav li {
        list-style-type: none;
        font-family: 'Playball', cursive;
}
.logo{
    display: flex;
}
.logo img{
    display: inline-block;
    margin-top: 10px;
    width :90px ;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    width:60%;
    height: 90px;
}
.menu li {
    line-height: 90px;
}
nav a {
    text-decoration: none;
    color :#6b6259;
    font-weight: bold;
    font-size: 30px;
    height: 100%;
}
nav a:hover{
    text-shadow: 1px 1px 1px grey;
}

nav a h1{
    color: orange;
    font-family: 'Playfair Display', serif;

}

/*  Home */

.home-img{
    width:100%;
    overflow: hidden;
    margin:0;
}
.home-img img{
    display:block;
    width:100%;
}

/*  Notre histoire  */

.histoire{
    margin-top: 30px;
    display: flex;
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
}
.histoire p{
    font-size: 1.5EM;
}
.texte-histoire{
    width:50%;

}
.texte-histoire h2{
    font-family: 'Playball', cursive;
    font-size: 2EM;
}
.img-histoire{
    width: 50%;
    margin-top: 25px;
}
.histoire img{
    border-radius: 30%;
}

/*  Footer */

footer{
    background-color: #f8f1e8;
    height:80px;
    display: flex;
    position: fixed;
    
    bottom: 0;
    width: 100%;
}
.mentions{
    line-height: 52px;
}
.mentions a{
    text-decoration: none;
    color :#6b6259;
}
footer div{
    width:50%;
    text-align: center;
}
.reseaux img{
    margin-top: 15px;
}

/* Pages */

article h2 {
    border-bottom: 2px solid orange;
}

article {
    width: 70%;
    margin: 0 auto;
}
address a {

    color :#6b6259;
}

.menu_chef{
    margin-bottom: 20px;
}

table {
    width:100%;
    border-bottom:  1px dotted orange;
}
.intitule {
    width:70%;
}

/* carousel */

.carousel{
    width:70%;
    overflow:hidden; 
    margin:0 auto 50px auto;  
}
.mySlides{
    
    margin:-21.875% 0;

}

