 .modif{
    flex-direction: column;
    border: 2px solid black;
    padding:5px;
}
.articlemodif:first-child{
  width:100%;
 
  border :none ;
  text-align:left ;
}
.articlemodif:not(:first-child){
  flex:1;
  border : 2px solid orange ;
}